<!-- Container for demo purpose -->
<div class="container  my-24 mx-auto p-5 bg-white md:p-11">
  <!-- Section: Design Block -->
  <section class="mb-32">
    <h1 class="mb-4 text-3xl  font-serif">
      Welcome to ShelfWise 
    </h1>
    <div class="mb-4 flex items-center text-sm font-medium text-primary dark:text-primary-400">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
            stroke="currentColor" class="mr-2 h-4 w-4">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
      </svg>
      Policies
    </div>
    <p class="mb-6 text-sm text-neutral-500 dark:text-neutral-400">
      Published <u>14.07.2023</u> by
      <a href="#!">Frank Higgins</a>
    </p>
    <p class="mb-6 flex items-center font-bold uppercase text-danger dark:text-danger-500 font-sans">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
        class="mr-2 h-5 w-5">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
      </svg>Your Ultimate Library Management Solution
    </p>
    <p class="mb-6 text-sm">
      Dear avid readers and book enthusiasts,
      We are thrilled to introduce you to Shelfwise, the cutting-edge web application designed to revolutionize your library experience! Whether you are a student, a bookworm, or simply love the world of literature, Shelfwise is your one-stop destination for seamless access to a vast collection of books, efficient borrowing, and personalized management of your borrowed books.    </p>
    <p class="mb-6">
      <strong>Borrowing Books Made Easy</strong>
    </p>
    <p class="mb-6 text-sm">
      At Shelfwise, we believe that books should be accessible to everyone with ease. Upon logging in or signing up, you will gain access to a wide array of books waiting to be explored. Simply navigate to the "Available Books" section to see the list of books that are up for borrowing. We take pride in ensuring that all books listed in this section are readily available for lending.
    </p>
    <p class="mb-6">
      <strong>Stuck with the Borrowing Process?</strong>
    </p>
    <p class="mb-6 text-sm">
      Borrowing a book is as simple as a few clicks. Once you find the book you wish to read, click on the "Borrow" button, and a pop-up will prompt you to fill in the return date. This return date serves as a reminder for when the book needs to be returned to the library. By setting clear return dates, we ensure that books are readily available for others when you are done with your literary journey.
    </p>
    <p
      class="mb-6 text-sm rounded border-l-4 border-neutral-800 bg-neutral-100 p-2 dark:border-neutral-200 dark:bg-neutral-700">
      <strong>Note:</strong> To ensure equal opportunities for all readers, we have established a policy that allows each user to borrow a maximum of three books at a time. This policy guarantees that more members of our vibrant community get a chance to explore their favorite titles without unnecessary wait times.
    </p>
    <p class="mb-6 text-sm">
      Once you have successfully borrowed a book, it will appear in the "My Books" section. Here, you can conveniently keep track of the books you have borrowed, view their return dates, and make any necessary changes to your borrowing details.
    </p>
    <img src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="mb-6 w-full  shadow-lg dark:shadow-black/20" alt="" />
    <p class="mb-6">
      <strong>Book Returns and Editing</strong>
    </p>
    <p class="mb-6 text-sm">
      We understand that plans can change, and so can your reading schedule. If you need to return a book before the specified date or wish to modify the return date, simply navigate to the "My Books" section and make the necessary adjustments. This flexibility ensures that you can enjoy your reading experience without any unnecessary stress.
    </p>
    <p class="mb-6">
      <strong>Respecting Due Dates</strong>
    </p>
    <p class="mb-6 text-sm">
      Returning books on time is crucial to maintaining a vibrant and efficient library community. Failure to return books within the specified date may attract fines or suspension of borrowing privileges. By adhering to the due dates, you contribute to the collective enjoyment of reading for all members of Shelfwise.
    </p>
    <p class="mb-6">
      <strong>Join the Shelfwise Community Today</strong>
    </p>
    <p class="mb-6 text-sm">
      We invite you to join Shelfwise and become part of a lively community that values reading, knowledge, and sharing the joy of literature. Embrace the convenience of our web application as you explore new worlds within the pages of captivating books.
      We hope that Shelfwise will elevate your library experience and make your literary journey even more delightful. Should you have any questions, concerns, or suggestions, our dedicated support team is always available to assist you.
      <p class='text-sm'> Happy reading!<br/>
        Warm regards,<br/>
        The ShelfWise Team</p>
    </p>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
