@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.books-section {
  background-color: linear-gradient(to right, #beaf98, #f2ebe3);
}

.hero {
  height: 90vh;
}

.book {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3), -5px -5px 5px rgba(255, 255, 255, 0.1);
}

.box {
  border: 1px solid grey;
}

.like {
  color: #986c41;
}

.button {
  border: 1px solid #e1c7a2;
  color: #986c41;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  background-color: #e1c7a2;
}

.borrowed {
  color: #986c41;
}

.unlike {
  color: lightgrey;
}

.alert-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
}

body {
  background-color: #f9fafb;
}

.lib {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('assets/lib.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.img {
  height: 13rem;
}

.category {
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
