<section class=' flex flex-col items-center justify-center px-4'>
  <h1 class='mt-6 text-center text-gray-700 font-serif mb-16 text-5xl  md:text-6xl xl:text-7xl'>Available <br/>
    categories</h1>
  <div id="categories" class='container grid md:grid-cols-3 gap-4 py-10'>
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>
</section>
